#title {
  margin-top: 20px;
}

#windowTask {
  width: 500px;
  height: 50px;
  margin-top: 25px;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

#windowInput,
#windowButton {
  height: 35px;
}

#windowInput {
  width: 85%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  border-radius: 5px;
  color: rgb(90, 90, 90);
}

#windowButton {
  width: 10%;
  background-color: #3972db;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}
